* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 15px;
    --general-color: rgb(206, 42, 206);
}
body {
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}
main {
    background: blue;
    height: 80%;
    width: 80%;
    margin: 4rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    flex-wrap: wrap;
    background-color: var(--general-color);
}
.image-container {
    width: 20%;
    height: 50%;
}
img {
    border-radius: 30px;
    object-fit: cover;
    width: 100%;
}
.details {
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.profile {
    width: clamp(100px, 70%, 85%);
}
.profile > * {
    margin: 0 0 2rem;

}
[data-testid="slackUserName"] {
    font-size: 5rem;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.profile p:nth-of-type(2){
    font-size: 2rem;
    font-style: italic;
    letter-spacing: 1.2px;
    word-spacing: 2px;
    /* background-color: gray; */
}
.link {
    text-decoration: none;
    color: black;
    /* font-size: 1.5rem; */
}
.link:hover {
    color: blue;
    padding: 0 0 .5rem;
    border-bottom: 2px solid gray;
}
.time {
    display: flex;
    gap: 30px;
    width: 100%;
}