* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 15px;
    --background-color: linear-gradient(to top left, rgb(156, 236, 254), rgb(32, 122, 142));
}
body {
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: white;
    background: var(--background-color);
}
main {
    height: max-content;
    width: 80%;
    margin: 4rem auto;
    padding: 3rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    flex-wrap: wrap;
}
.image-container {
    width: 30%;
}
img {
    border-radius: 30px;
    object-fit: cover;
    width: 100%;
}
.details {
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.profile {
    width: clamp(100px, 70%, 85%);
}
.profile > *,
.profile {
    margin: 0 0 2rem;

}
[data-testid="slackUserName"] {
    font-size: 5rem;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.profile p:nth-of-type(2){
    font-size: 2rem;
    font-style: italic;
    letter-spacing: 1.2px;
    word-spacing: 2px;
}
.link {
    text-decoration: none;
    color: inherit;
}
.link:hover {
    color: blue;
    padding: 0 0 .5rem;
    border-bottom: 2px solid gray;
}
.time {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}